body {
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
div#page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}
div#title {
    text-align: center;
    padding: .1em;
    color: crimson;
}
div#main {
    padding: 1em;
    margin: 1em;
    width: auto;
    height: auto;
    border: 1px solid #999;
    text-align: center;
    display: block;
}
div#panel {
    padding: 1em;
    margin: 1em;
    width: auto;
    height: calc(100vh - 800px);
    border: 1px solid #999;
}
canvas#game-canvas { 
    border: 1px solid #aaa; 
}
select {
    margin: 1em 0;
    padding: 5px 10px;
    width: 200px;
}
button {
    width: 96px;
}
